# Google OAuth (Login do Better Auth)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# APIs de Inteligência Artificial (Preencha as que você for utilizar)
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
XAI_API_KEY=
GROQ_API_KEY=
